<!DOCTYPE html>
<html>
  <head>

    <%- include('../../partials/header') -%>
        <%- include('../../partials/styles') -%>

  </head>
  <body>
    <%- include('../../partials/navbar.ejs') -%>

<div class="index_container">
  <img src="/images/AI.gif" alt="" style="width:100%; opacity: 0.5;">
  <div class="index_centered">Welcome to StuBeat!</div>
  <div class="indexBtn">
    <a href="/music/editor" class="btn btn-warning">Try It Now</a>
    <a href="/music/pro" class="btn btn-warning">GO PRO</a>
  </div>
  
</div>


    <%- include('../../partials/scripts') -%>

    <%- include('../../partials/chatBot') -%>
  </body>
</html>
